.form-container {
    padding: 10px;
    flex: auto;
}

.text-user {
    text-align: right;
    border-radius: 25px;
    background: #0688f3;
    padding: 15px;
    margin: 10px;
    position: relative;
}

.text-bot {
    text-align: left;
    border-radius: 25px;
    background: #0688f3;
    padding: 15px;
    margin: 10px;
    position: relative;
}

.text-user, .text-bot {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.chatbot-button {
    padding: 15px;
    margin: 5px;
}

.text-list {
    padding: 25px;
    flex: auto;
    overflow: auto;
    min-height: 56vh;
    max-height: 50vh;
}

::-webkit-scrollbar {
    display: none;
}

.chatbot {
    display: flex;
    flex-direction: column;
    min-height: min-content;
    width: 75%;
    margin-top: 75px;
}

.chatbot-components{
    padding: 10px;
    border: 2px solid white;
    border-radius: 25px;
    background-color: #333;
}

.chatbot-header {
    flex: 0 0 auto;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.shortcut-box{
    padding: 10px;
    margin: 5px;
    border: 2px solid white;
    width: min-content;
    border-radius: 25px;
}

.shortcut-header{
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.shortcut-list{
    display: flex;
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.return-login{
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 25px;
}

.text-container{
    display: flex;
    flex-direction: column;
}

.bot-container{
    display: flex;
    justify-content: flex-start;
}

.user-container{
    display: flex;
    justify-content: flex-end;
}