.form-container {
    padding: 10px;
    flex: auto;
}

.form-input {
    min-width: 60%;
    border-radius: 25px;
}

.text-Guest {
    text-align: right;
    border-radius: 25px;
    background: #dbd2dd;
    color: black;
    padding: 15px;
    margin: 10px;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-MuseumMate {
    text-align: left;
    border-radius: 25px;
    background: #012c5a;
    padding: 15px;
    margin: 10px;
    position: relative;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-Guest,
.text-MuseumMate {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.chatbot-button {
    padding: 15px;
    margin: 5px;
    border-radius: 25px;
}

.text-list {
    padding: 25px;
    flex: auto;
    overflow: auto;
    min-height: 56vh;
    max-height: 50vh;
}

.text-image {
    width: 40%;
    height: auto;
    margin-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    border: 2px solid black;
    margin-left: 5%;
}

::-webkit-scrollbar {
    display: none;
}

.chatbot {
    display: flex;
    flex-direction: column;
    min-height: min-content;
    width: 70%;
    margin-top: 75px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 500px;
}

.chatbot-components {
    padding: 10px;
    border: 2px solid #BBADBE;
    border-radius: 25px;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.75);
    max-width: 800px;
}

.chatbot-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.MuseumMate-container {
    display: flex;
    justify-content: flex-start;
}

.Guest-container {
    display: flex;
    justify-content: flex-end;
}

.chatbot-toggle {
    bottom: 30px;
    right: 30px;
    position: fixed;
    color: #E6DBC5;
    padding: 30px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #00244af5; /* rgba(0, 0, 0, 0.5) */
    font-weight: bold;
}

.chatbot-toggle:hover {
    background-color: #E6DBC5;
    color: #00244ae6;
    font-weight: bold;
    border: 2px solid black;
}

.chatbot-minimize {
    flex: 0 0 auto;
    justify-content: right;
    padding: 10px;
    text-align: right;
    overflow: hidden;
}

.chatbot-title {
    text-align: center;
}

/* in text video */
iframe {
    border-radius: 25px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 5%;
    aspect-ratio: 16 / 9;
    height: auto;
    width: 90%;
}

.text-content {
    white-space: pre-wrap;
}

/* tts on/off */
.chatbot-button-on {
    padding: 15px;
    margin: 5px;
    box-shadow: 0 0 20px #0df80d;
    border-radius: 25px;
}
.chatbot-container {
    max-width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 9999;
    overflow-y: auto;
    height: auto;
}

@media only screen and (max-width: 480px) {
    .chatbot-container {
        max-width: 100%;
        margin: 0;
        height: auto;
        overflow-y: scroll;
    }
}