/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/* All website layouts, designs, coding and functionality are Copyright © 2023 Robert Morabito, David Bailey, Maheen Samad, Fahad Arain, Dana Dobrosavljevic, and Jordan Bharati All right reserved.
/*
/* You may not otherwise copy, modify, or distribute this website (https://museum-mate-v1.vercel.app/) or the code contained in any manner.
/* You may not remove or alter any copyright or other notice from this code or this website (https://museum-mate-v1.vercel.app/).
/* 
/* If you have further inquiry contact:
/* Robert Morabito
/* Developer
/* hello@robertmorabito.ca
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.directions {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 70px;
    color: #2A3C2C;
}

.directions-container {
    display: flex;
    flex-direction: row;
}

.directions-header{
    padding: 10px;
}
.map-image{
    width: 90%;
    height: 100%;
    border: 2px solid #2A3C2C;
}

.chatbot-map-text{
    width: 40%;
    height: 100%;
    border: 2px solid #2A3C2C;
    margin-left: 15px;
}