/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/* All website layouts, designs, coding and functionality are Copyright © 2023 Robert Morabito, David Bailey, Maheen Samad, Fahad Arain, Dana Dobrosavljevic, and Jordan Bharati All right reserved.
/*
/* You may not otherwise copy, modify, or distribute this website (https://museum-mate-v1.vercel.app/) or the code contained in any manner.
/* You may not remove or alter any copyright or other notice from this code or this website (https://museum-mate-v1.vercel.app/).
/* 
/* If you have further inquiry contact:
/* Robert Morabito
/* Developer
/* hello@robertmorabito.ca
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.modalContainer {
    position: fixed;
    width: 100vw; 
    height: 100%;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .modal{
    width: 90%;
    max-width: 500px;
    border: 5px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    box-sizing: border-box;
  }
  
  .modal__head{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .modalLabel {
    color: black;
  }  
  
  .modal__close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .modal__close:hover{
    color: hsl(0, 70%, 70%);
  }